body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
	list-style: none;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li:before {
	margin-right: 0.5em;
  content: "•";
  font-size: 250%;
  color: blue; /* or whatever color you prefer */
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.carousel-indicators li {
	border: none;
  background-color: #c7dbee;
}

.carousel-indicators .active {
	background-color: #4688c7;
}

.dropdown-menu li:before {
	color: blue;
	display: none;
}

.dropdown-menu li {
	padding-left: 0;
}

.carousel-indicators li:before {
	color: blue;
	display: none;
}

.list-group li:before {
  color: blue;
  display: none;
}

#leadgenimage
{
  background-image: url("./images/leadgen.png");
}
